@import "tape/posts";
@import "tape/subscriptions";

.list.tape {
  width : inherit;

  .header .title {
    display : none;
  }
}

.list.tape .item.is-folder {
  display : none;
}

.tape-header-subscriptions {
  @include header-icon-base;
  @include position(absolute, null 0 null null);
}

.tape-header-subscriptions + .search {
  right : 2.5em;
}

.list-search .tape-header-subscriptions + .search {
  right : 0;
}

.tape-refresh-posts {
  @include header-icon-base;
  @include position(absolute, null null null 2.5em);
}

.show-spinner .tape-refresh-posts {
  visibility: hidden;
}

.tape-header-next {
  @include position(absolute, 0 1em null null);
  font-weight : $medium;
}

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .tape-refresh-posts {
    left : 0;
  }

  .subscriptions .header .title {
    line-height : 2.95;
    font-size   : .9em;
  }
}

/* Desktop ----------------------------------------------------------------- */
@media #{$desktop} {
  .list.tape {
    background-color : white;
    right            : 22em;

    .header {
      background-color : white;
    }
  }

  .tape .view.subscriptions,
  .tape .list.subscriptions {
    width : 22em;
    right : 0;
    left  : initial;
  }

  .tape-post {
    max-width : 580px;
    padding   : 2em 1em;
    margin    : -1px auto 0;

    &:after {
      right : 1em;
    }
  }

  .tape-header-subscriptions {
    display : none;
  }

  .tape .list.subscriptions .back {
    display : none;
  }

  .tape-header-subscriptions + .search {
    right : 0;
  }

  .tape-refresh-posts {
    right : 2.5em;
    left  : initial;
  }
}
