@import "tape/posts";
@import "tape/subscriptions";

.list.tape {
  width : inherit;

  .header .title {
    display : none;
  }
}

.list.tape .item.is-folder {
  display : none;
}

.tape-header-subscriptions {
  @include position(absolute, null 0 null null);
  @include icon-reorder($positive-color);
  @include ellipsis;
}

.tape-header-subscriptions + .search {
  right : 2.5em;
}

.list-search .tape-header-subscriptions + .search {
  right : 0;
}

.tape-refresh-posts {
  @include position(absolute, null null null 2.5em);
}

.tape-header-next {
  @include position(absolute, 0 1em null null);
  font-weight : $medium;
}

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .tape-refresh-posts {
    left : 1em;
  }
}

/* Desktop ----------------------------------------------------------------- */
@media #{$desktop} {
  .list.tape {
    right : 22em;
  }

  .tape .view.subscriptions,
  .tape .list.subscriptions {
    width : 22em;
    right : 0;
    left  : initial;
  }

  .tape-item {
    margin    : -1px auto 0;
    max-width : 580px;
    padding   : 2em 1em;

    &:after {
      right : 1em;
    }
  }

  .is-folder + .tape-item {
    padding-top : 1em;
  }

  .tape-header-subscriptions {
    display : none;
  }

  .tape .list.subscriptions .back {
    display : none;
  }

  .tape-header-subscriptions + .search {
    right : 0;
  }

  .tape-refresh-posts {
    right : 2.5em;
    left  : initial;
  }
}
